<?php 
/*
 * CSS class: content-wrapper
 */
?>
<div class="">
    <br>
    <p>
        <strong>Wir haben Ihre Bestellung entgegen genommen.</strong>
        <?php if (isset($this->userEmail)) : ?>
            <br>
            Eine Email mit allen Informationen wurde an <?php echo $this->userEmail ?> gesendet.
        <?php endif; ?>
    </p>
    <br>
    <p>
        &Uuml;berweisen Sie den Rechnungsbetrag auf das folgende Konto:
        <br>
        <strong><?php echo $this->bankData ?></strong>
        <br>
        <br>
        <strong>!!! WICHTIG !!!</strong>
        <br>
        Geben Sie bitte als Verwendungszweck folgende Bezahlungskennung in Ihrer &Uuml;berweisung an: <strong><?php echo $this->paymentNumber ?></strong>
    </p>
    <p>
        Den Status und eine Zusammenfassung Ihres Einkaufs finden Sie 
        <a href="<?php echo $this->url('shop_frontend_basket_afterpayment', ['basket_unique' => $this->shopBasketUnique]) ?>">hier</a>.
    </p>
    <br>
    <p>
        <a href="<?php echo $this->url('shop_frontend_article_articles') ?>" class="w3-button bk-grey">
            <?php echo $this->translate('weiter einkaufen', 'bitkornshop') ?>
        </a>
    </p>
</div>