<?php
$this->headTitle('Prepay');
//echo $this->printrTextarea($this->textarea);
/*
 * CSS class: content-wrapper
 */
?>
<div class="">
    <div class="w3-row">
        <div class="w3-col">
            <img src="/img/module/vorkasse_ueberweisung_voll_100h.png" alt="Vorkasse mit Überweisung" class="w3-padding-16">
        </div>
    </div>

    <?php if (!empty($this->shopBasketUnique)) : ?>
        <?php echo $this->shopBasketOverview($this->shopBasketUnique) ?>
    <?php endif; ?>
    <p>
        &Uuml;berweisen sie den Rechnungsbetrag auf das folgende Konto:
        <br>
        <strong><?php echo $this->bankData ?></strong>
        <br>
        <br>
        <strong>!!! WICHTIG !!!</strong>
        <br>
        Geben sie bitte als Verwendungszweck folgende Bezahlungskennung in ihrer &Uuml;berweisung an: <strong><?php echo $this->paymentNumber ?></strong>
    </p>
    <br>
    <p>
        Um den Kauf abzuschlie&szlig;en, klicken sie den Best&auml;tigungs-Button.
        <br>
        <a href="<?php echo $this->url('payment_prepay_confirmation') ?>" class="w3-button bk-marine loading-modal-click">
            ja, ich bestelle die oben aufgef&uuml;hrten Waren kostenpflichtig.
        </a>
    </p>

    <div class="w3-row">
        <div class="w3-col l4 m4">
            <table class="w3-table">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>