<div class="">
        <a href="<?php echo $this->url('payment_prepay_start') ?>" class="w3-button w3-xlarge bk-grey">
<!--            <img src="/img/module/vorkasse_ueberweisung_160b.png" alt="Prepay">-->
            Vorkasse per &Uuml;berweisung
        </a>
        <span>&nbsp;</span>
        Sie bezahlen ganz einfach per &Uuml;berweisung auf unser Konto.
</div>
